[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
synth = "cdk synth"
deploy = "cdk deploy"
destroy = "cdk destroy"

[packages]
chalice = "*"

[dev-packages]
mypy = "*"
pytest = "*"
chalice = {extras = ["cdkv2"]}
autopep8 = "*"
aws-cdk-lib = "*"

[requires]
python_version = "3.11"
