[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{{ cookiecutter.package_name }} = {file = ".", editable = true}

[dev-packages]
mypy = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.12"
