[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pydantic = "*"
aws-error-utils = "*"
pydantic_settings = "*"
aws-lambda-powertools = "*"

[dev-packages]
mypy = "*"
pytest = "*"
autopep8 = "*"
boto3-stubs = {extras = ["boto3"], version = "*"}

[requires]
python_version = "3.11"
