[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pydantic = ">=2.0.3"
boto3-stubs = {extras = ["boto3"], version = "*"}
aws-error-utils = "*"
aws-lambda-powertools = {extras = ["parser"], version = "*"}

[dev-packages]
mypy = "*"
pytest = "*"
autopep8 = "*"
aws-cdk-lib = "*"

[requires]
python_version = "3.11"
