[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
sentry-sdk = "*"
aws-lambda-powertools = "*"

[dev-packages]
mypy = "*"
boto3 = "*"
autopep8 = "*"
aws-cdk-lib = "*"
boto3-stubs = {extras = ["boto3"], version = "*"}

[requires]
python_version = "3.12"
